* {
  font-family: Helvetica-Neue, sans-serif;
}

#page {
  background-image: linear-gradient(to right, #cfd9df, #e2ebf0);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  opacity: 0.1;
}

header {
  background: black;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 20px;
}

header::before,
header::after {
  content: " ";
  display: table;
  clear: both;
}

.menu-button {
  border: none;
  background-color: black;
  font-size: 16px;
  color: white;
  cursor: pointer;
  outline: none;
}

.menu-button:hover {
  opacity: 0.5;
}

.menu-text {
  font-size: 16px;
  color: white;
}

#menu {
  display: flex;
  justify-content: space-around;
}

.color-codes {
  margin-left: 10px;
  font-size: 16px;
}

#grid {
  border-collapse: collapse;
  table-layout: fixed;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#description {
  padding-top: 20px;
  text-align: center;
}

.tutorial-modal {
  position: absolute;
  left: 10%;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  height: 500px;
  width: 80%;
  top: 20%;
  background-color: white;
}

.modal-image {
  margin-top: 30px;
  height: 238px;
  width: 423px;
}

.heading {
  font-size: 50px;
}

.sub-heading {
  font-size: 20px;
}

.finish-tutorial {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 20px;
}

.next-page {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}

.modal-button {
  border: none;
  background-color: #e1909b;
  color: white;
  font-size: 13px;
  padding: 20px;
  border-radius: 10px;
}

.modal-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.row {
  overflow: hidden;
}

.tile {
  border: 1px solid gray;
  cursor: pointer;
  overflow: hidden;
  font-weight: 900;
  color: gray;
}

.tile:hover {
  opacity: 0.5;
}
